.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0 2em;
}

.App-link {
  color: #61dafb;
}

.form {
  text-align: left;
  padding: 0 2em;
  margin: 4em 0;
}

.form-element {
  margin: 1em 0;
}
